<div>
  <p> Creator: <%= @creator.name %></p>
  <p> Timeframe: <%= @project.timeframe %></p>
  <p> Finances: <%= @project.finances %></p>
  <p> Description: <%= @project.description %></p>
  <p> Creative needs: <%= @project.needs %></p>
</div>
